@use "../abstract/breakpoints";
.section {
  max-width: 85%;
  @include breakpoints.medium {
    max-width: 100%;
  }
  margin: 0 auto;
  & ul,
  ol {
    padding-left: 1.5rem;
  }
  & li {
    padding-left: 1rem;
    &::marker {
      color: var(--clr-primary-100);
      font-weight: 700;
    }
  }
  & li + li {
    margin-top: 0.5rem;
  }
}

.section--header {
  margin-top: var(--size-200);
}
.section--preparation {
  //SPACING
  margin-top: var(--size-200);
  //
  background-color: var(--clr-neutral-200);
  padding: var(--size-100);
  border-radius: 10px;

  & li::marker {
    color: var(--clr-primary-200);
  }
  h3 {
    margin-bottom: 0.8rem;
  }
}

.section--ingredients {
  margin-top: var(--size-200);
}
.section--instructions,
.section--nutrition {
  margin-top: var(--size-200);
  border-top: 1px solid var(--clr-neutral-400);
  padding-top: var(--size-200);
}

.section--nutrition {
  margin-bottom: var(--size-400);
  & ul {
    list-style-type: none;
    margin-top: var(--size-200);
    padding-left: 0;
  }

  & li {
    display: flex;
    justify-content: space-between;

    & + li {
      border-top: 1px solid var(--clr-neutral-400);
      padding-top: 0.5rem;
    }
  }
  strong {
    color: var(--clr-primary-100);
    margin-right: 5rem;
  }
}

.same {
  width: 50%;
}
