@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");
:root {
  font-size: 100%;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.0625rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
}
